header {
    width: 980px; /* 72.5% */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;

    #top-nav {
        display: flex;
        flex-direction: row;
        height: 38px;
        box-sizing: border-box;

        #logo {
            margin-top: -1px;
            height: 39px;
        }

        #links {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #D4D4D4;
            margin: 0 0 0 14px;
            padding: 0;

            li {
                font-size: 9pt;
                padding: 0 10px;
                margin: auto 0;
                height: 15px;

                &.right-line {
                    display: block;
                    border-right: 1px solid #CCC9CC;
                }

                a {
                    text-decoration: none;
                    color: #141414;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        #site-search {
            margin: -1px 0 0 1px;

            form {
                height: 39px;
                display: flex;
                background-color: #F1F1F1;
                border-bottom: 1px solid #282F54;
                box-sizing: border-box;

                input[type="text"], #search-icon {
                    border: 0;
                    height: 100%;
                }

                input[type="text"] {
                    box-sizing: border-box;
                    background-color: #F1F1F1;
                    color: #141414;
                    font-size: 10pt;
                    letter-spacing: -0.5px;
                    padding: 5px 11px;
                    width: 117px;
                }

                ::placeholder {
                    color: #707070;
                    opacity: 1;
                }

                #search-icon {
                    cursor: pointer;
                    min-width: 30px;
                    background: url('../../icons/search.png') no-repeat;
                    background-size: 20px;
                    background-position: left;
                }
            }
        }
    }

    #bottom-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #282F54;
        font-size: 9.5pt;
        letter-spacing: -0.5px;
        font-weight: bold;

        a {
            text-decoration: none;
            width: 19.9%;
            box-sizing: border-box;

            div {
                padding: 10px 15px;
                text-align: center;

                &.inactive {
                    background-color: #282F54;
                    color: #ffffff;
                }

                &.active {
                    background-color: #DFE0E6;
                    color: #282F54;
                }
            }
            
            &:hover {
                text-decoration: underline;
                text-decoration-color: #141414;

                div {
                    background-color: #F1F1F1;
                    color: #141414;
                }
            }
        }
    }
}
