@media only screen and (max-width: 1024px) {
    main {
        width: 100%;
        box-sizing: border-box;

        section {
            > * {
                box-sizing: border-box;
                width: 100%;
            }
        }

        #page-headline {
            padding-left: 15px;

            #subtitle {
                width: 65%;
                margin-left: 0;
                margin-right: auto;
            }
        }
        
        #page-text {
            padding: 0 15px;
            width: 100%;
            box-sizing: border-box;

            p {
                width: 100%;
            }

            .report {
                .report-cover {
                    margin-left: 0;
                    width: 25%;
                }

                .description {
                    width: 70%;

                    h2 {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 740px) {
    main {
        #page-text {
            .report {
                .report-cover {
                    display: none;
                }
                .description {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 470px) {
    main {
        #page-headline {
            h1 {
                font-size: 23pt !important;
                padding-bottom: 25px;
            }
            #subtitle {
                width: 80%;
            }
        }
        #page-text {
            h2 {
                font-size: 13pt !important;
            }
        }
    }
}