body {
    font-family: 'Noto Sans', sans-serif;
    color: #141414;
    margin: 0;
    padding: 0;
}

@import "partials/header.scss";
@import "partials/header.resp.scss";
@import "partials/main.scss";
@import "partials/main.resp.scss";
@import "partials/footer.scss";
@import "partials/footer.resp.scss";
