body {
    font-family: 'Noto Sans', sans-serif;
    color: #141414;
    margin: 0;
    padding: 0;
}

header {
    #top-nav {
        width: 980px; /* 72.5% */
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: 38px;
        box-sizing: border-box;

        #logo {
            margin-top: -1px;
            height: 39px;
        }

        #links {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #D4D4D4;
            margin: 0 0 0 14px;
            padding: 0;

            li {
                font-size: 9pt;
                padding: 0 10px;
                margin: auto 0;
                height: 15px;

                &.right-line {
                    display: block;
                    border-right: 1px solid #CCC9CC;
                }

                a {
                    text-decoration: none;
                    color: #141414;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        #site-search {
            margin-top: -1px;
            border-bottom: 1px solid #282F54;
            form {
                height: 39px;
                input[type="text"] {
                    border: 0;
                    box-sizing: border-box;
                    background-color: #F1F1F1;
                    color: #141414;
                    font-size: 10pt;
                    letter-spacing: -0.5px;
                    padding: 10px;
                    height: calc(100% - 1px);
                    width: 100px;
                }

                ::placeholder {
                    color: #707070;
                    opacity: 1;
                }
            }
        }
    }
}
