body {
    font-family: 'Noto Sans', sans-serif;
    color: #141414;
    margin: 0;
    padding: 0;
}

@import "partials/header";
@import "partials/header.resp";
@import "partials/main";
@import "partials/main.resp";
@import "partials/footer";
@import "partials/footer.resp";
