body {
  font-family: 'Noto Sans', sans-serif;
  color: #141414;
  margin: 0;
  padding: 0; }

header {
  width: 980px;
  /* 72.5% */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px; }
  header #top-nav {
    display: flex;
    flex-direction: row;
    height: 38px;
    box-sizing: border-box; }
    header #top-nav #logo {
      margin-top: -1px;
      height: 39px; }
    header #top-nav #links {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #D4D4D4;
      margin: 0 0 0 14px;
      padding: 0; }
      header #top-nav #links li {
        font-size: 9pt;
        padding: 0 10px;
        margin: auto 0;
        height: 15px; }
        header #top-nav #links li.right-line {
          display: block;
          border-right: 1px solid #CCC9CC; }
        header #top-nav #links li a {
          text-decoration: none;
          color: #141414; }
          header #top-nav #links li a:hover {
            text-decoration: underline; }
    header #top-nav #site-search {
      margin: -1px 0 0 1px; }
      header #top-nav #site-search form {
        height: 39px;
        display: flex;
        background-color: #F1F1F1;
        border-bottom: 1px solid #282F54;
        box-sizing: border-box; }
        header #top-nav #site-search form input[type="text"], header #top-nav #site-search form #search-icon {
          border: 0;
          height: 100%; }
        header #top-nav #site-search form input[type="text"] {
          box-sizing: border-box;
          background-color: #F1F1F1;
          color: #141414;
          font-size: 10pt;
          letter-spacing: -0.5px;
          padding: 5px 11px;
          width: 117px; }
        header #top-nav #site-search form ::placeholder {
          color: #707070;
          opacity: 1; }
        header #top-nav #site-search form #search-icon {
          cursor: pointer;
          min-width: 30px;
          background: url("../../icons/search.png") no-repeat;
          background-size: 20px;
          background-position: left; }
  header #bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #282F54;
    font-size: 9.5pt;
    letter-spacing: -0.5px;
    font-weight: bold; }
    header #bottom-nav a {
      text-decoration: none;
      width: 19.9%;
      box-sizing: border-box; }
      header #bottom-nav a div {
        padding: 10px 15px;
        text-align: center; }
        header #bottom-nav a div.inactive {
          background-color: #282F54;
          color: #ffffff; }
        header #bottom-nav a div.active {
          background-color: #DFE0E6;
          color: #282F54; }
      header #bottom-nav a:hover {
        text-decoration: underline;
        text-decoration-color: #141414; }
        header #bottom-nav a:hover div {
          background-color: #F1F1F1;
          color: #141414; }

main section > * {
  width: 980px;
  margin-left: auto;
  margin-right: auto; }
main #page-headline {
  background-color: #F1F1F1; }
  main #page-headline #level-links {
    padding-top: 25px; }
    main #page-headline #level-links span {
      font-size: 11pt;
      letter-spacing: -0.3px; }
      main #page-headline #level-links span.level a {
        color: #909090;
        text-decoration: none; }
      main #page-headline #level-links span.delimiter {
        font-size: 10pt;
        padding: 0 10px; }
  main #page-headline #title-text {
    color: #262626;
    font-size: 23.5pt;
    letter-spacing: -2px; }
  main #page-headline #subtitle {
    margin-top: -19px;
    font-size: 10pt;
    letter-spacing: -0.3px; }

footer {
  background-color: #141414;
  color: #FAFAFA;
  font-size: 10.25pt;
  margin: 0;
  padding: 30px 0 20px; }
  footer > div {
    width: 980px;
    margin: 0 auto; }
  footer #footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; }
    footer #footer-links ul li {
      padding-right: 8px;
      height: 18px; }
      footer #footer-links ul li.left-space {
        padding-left: 8px;
        border-left: 1px solid #FAFAFA; }
      footer #footer-links ul li a {
        color: #FAFAFA;
        text-decoration: none; }
        footer #footer-links ul li a:hover {
          text-decoration: underline; }
  footer #media-icons {
    margin: 30px auto;
    display: flex;
    justify-content: flex-start; }
    footer #media-icons a {
      margin: 0 -6px; }
    footer #media-icons .icon {
      height: 35px;
      width: 35px;
      margin-right: 20px; }
    footer #media-icons .twitter-icon {
      background: url("../../icons/twitter.svg") no-repeat; }
    footer #media-icons .linkedin-icon {
      background: url("../../icons/linkedin.svg") no-repeat; }
    footer #media-icons .facebook-icon {
      background: url("../../icons/facebook.svg") no-repeat; }
    footer #media-icons .youtube-icon {
      background: url("../../icons/youtube.svg") no-repeat; }

/*# sourceMappingURL=index.css.map */
